{% load i18n %}
{% load crispy_forms_tags %}

  {% load i18n %}
  {% load static %}
  
  <!doctype html>
  
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Remove Tap Highlight on Windows Phone IE -->
      <meta name="msapplication-tap-highlight" content="no"/>
  
      <title>{{config.title}}</title>
  
      <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
  
      <!-- uikit -->
      <link rel="stylesheet" href="{% static 'css/uikit.almost-flat.min.css' %}"/>
  
      <!-- altair admin login page -->
      <link rel="stylesheet" href="{% static 'login/css/login_page.css' %}" />
  
  </head>
  <body class="login_page">
  
      {% include "applogin/_message_block.html" %}
      
      <div class="pen-title">
          <h1>{{tenant.name}}</h1>
      </div>
      <div class="login_page_wrapper">
  
        <form action="" method="post">
          {% csrf_token %}
            <table>
              {{ wizard.management_form }}
              {% crispy wizard.form %}    
            </table>
        </form>
  
  
        <div class="pen-title">
            {{config.public_page_footer}}
        </div>
  
          <!-- common functions -->
          <script src="{% static 'js/common.min.js' %}"></script>
          <!-- uikit functions -->
          <script src="{% static 'js/uikit_custom.min.js' %}"></script>
          <!-- altair core functions -->
          <script src="{% static 'js/altair_admin_common.min.js' %}"></script>
  
          <!-- altair login page functions -->
          <script src="{% static 'login/js/login.js' %}"></script> 
  </body>
  </html>