
body{margin:0; padding:0; background:#fff}
.fl {float:left} 
.fr{float:right} 
.cl{clear:both} 
.al{text-align:left} 
.ar{text-align:right} 
.ac{text-align:center} 
.aj{text-align:justify}

#main{margin:0 auto; width:794px; height:1123px;}

#header{width:100%; background:#5745b3; padding:22px 0px 15px}

#header .header_left{float:left; width:70%}

#header .header_right{float:left; width:30%}

#header .header_right img{padding:0 20px}

#header .header_left h2{font-family:'robotobold'; font-size:14px; margin:0; padding:0 20px 0 27px; color:#fff; letter-spacing:0px;}

#header .header_left h1{font-family:'robotomedium'; font-size:27px; margin:0; padding:0 20px 0 27px; color:#efd40f; line-height:26px}

#header .header_left h1 span{font-family:'goboldregular'; font-size:14px; margin:0; padding:0 0 0 10px; color:#efd40f; font-weight:normal}

.section_top{padding:19px 0 37px 30px}

.section_top .tab_back{min-height:136px;}

.section_top1{ padding:19px 0 37px 30px}

.mt{padding:0.01px;}

.section_top table tr td{padding:4px 0}

.section_top table tr td:first-child{font-size:11px; font-family:'robotomedium'; color:#686868}

.section_top table tr td:last-child{font-size:12px; font-family:'robotobold'; color:#2d2d2d}

.blueline{background:#5745b3; height:2px; width:90%}

.blueline2{background:#675dc6; height:2px; width:97.6%; float:right}

.grayline{background:#ddd; height:1px; width:100%; margin:10px 0}

.section{width:100%; margin:0; padding:0}

.contain{margin:0 auto; padding:7px 0 7.8px 20px; border-left:2px #e5e5e5 solid; width:90%}

h1.icon1{margin:-15px 0 0 -40px; padding:0 0 0 50px;  line-height:50px; font-family:'robotobold'; font-size:18px; color:#2d2d2d}

.indl{margin:-18px 0 0 10px}

h1.icon2{margin:-15px 0 0 -40px; padding:0 0 0 50px;  line-height:50px; font-family:'robotobold'; font-size:18px; color:#2d2d2d}

h1.icon3{margin:-15px 0 0 -40px; padding:0 0 0 50px;  line-height:50px; font-family:'robotobold'; font-size:18px; color:#2d2d2d}

h1.icon4{margin:-15px 0 0 -40px; padding:0 0 0 50px;  line-height:50px; font-family:'robotobold'; font-size:18px; color:#2d2d2d}

h1.icon5{margin:-15px 0 0 -40px; padding:0 0 0 50px;  line-height:50px; font-family:'robotobold'; font-size:18px; color:#2d2d2d}

h1.icon1 span, h1.icon2 span, h1.icon3 span{font-family:'robotoregular'; font-size:12px; color:#2d2d2d; font-weight:normal}
.contain .cleft{margin:0; padding:0; width:55%; float:left; color:#686868; font-family:'robotomedium'; font-size:11px}
.contain .cright{margin:0; padding:0; width:45%; float:left}
.contain .cright ul{margin:0; padding:0; list-style:none; float:right}
.contain .cright ul li{margin:0 5px; padding:0; float:left; font-family:'robotoregular'; color:#2d2d2d2; font-size:13px;}
.contain .cright ul li.below{ padding:0 0 0 25px}
.contain .cright ul li.above{ padding:0 0 0 25px}
.contain .cright ul li.within{ padding:0 0 0 25px}
.goal_table, .goal_table1, .goal_table2{margin:20px 0 0 0}
.goal_table table tr td:first-child, .goal_table1 table tr td:first-child, .goal_table2 table tr td:first-child{font-size:11px; font-family:'robotomedium'; color:#686868}
.goal_table table tr td, .goal_table1 table tr td, .goal_table2 table tr td{font-size:15px; font-family:'goboldregular'; color:#2d2d2d}
.goal_table table tr td span, .goal_table1 table tr td span, .goal_table2 table tr td span{font-size:13px; font-family:'robotoregular'; color:#2d2d2d}
.goal_table .grayline{background:#ddd; height:1px; width:100%; margin:9.5px 0}
.goal_table1 .grayline{background:#ddd; height:1px; width:100%; margin:8px 0}
.goal_table2 .grayline{background:#ddd; height:1px; width:100%; margin:12px 0}
.footer{margin:0; padding:0; width:100%; background:url(../images/report_new1.png) top left no-repeat; min-height:59px}
.footer h1{font-family:'goboldregular'; font-size:14px; color:#a0a0a0; float:left; padding:18px 0 0 62px; font-weight:normal}
.ios{float:right; padding:10px 10px 0 0}
