<!-- main sidebar -->
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block sidebar %}

{% block style %}
<style type='text/css'>
    
    .menu_hyperlink, .menu_hyperlink:hover{
        color: {{profile.user_role_frame.config.frame_config.menu_icon.color}} !important;
    }

    .menu_hyperlink:hover{
        color: {{profile.user_role_frame.config.frame_config.menu_icon.color}} !important;
        background-color: #00000012;
    }

    .menu_highlighted, .menu_highlighted:hover{
        /* color: {{profile.colors.menu_text_icon_highlighted}} !important; */
        background-color: #00000012;
    }

    .icon_normal{
        color: {{profile.user_role_frame.config.frame_config.menu_icon.color}} !important;   
    }

    .icon_highlighted{
        /* color: {{profile.colors.menu_text_icon_highlighted}} !important;    */
    }


</style>

{% endblock %}

<aside id="sidebar_main" class="frame-sidebar">

    <div class="menu_section">
        <ul>
            {% for item in profile.user_role_frame.config.menu %}
            <li  style="padding-top:12px;" title="" id={{forloop.counter}} style="position: relative !important;">
                {% if item.submenu %}
                <a class="menu_hyperlink frame-menu_icon group_menu" href="#">
                    <span class="menu_icon frame-menu_icon">
                        {{item.icon_url|safe}}
                    </span>
                    
                    <span class="menu_title" >{{item.title}}</span>
                    <span class="highlighted-arrow frame-menu_icon">
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.99999 5.24758V0.747281C5.99999 -0.127468 5.44766 -0.206217 4.87705 0.364756L0.371255 4.86649C-0.285163 5.52279 -0.0136801 6 0.736506 6H5.23762C5.65209 6 6 5.66248 6 5.24761L5.99999 5.24758Z" fill="current"/>
                        </svg>                            
                    </span>
                </a>  
                <ul class="condense-sidebar-submenu frame-sidebar">
                    {% for menu in item.children %}
                    <li><a class="menu_hyperlink frame-menu_icon submenu" href="{{menu.url}}"> <span>{{menu.title}}</span>
                        <span class="highlighted-dot frame-menu_icon">
                            <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="2" cy="2" r="2" fill="current"/>
                            </svg>                                    
                        </span>
                    </a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <a class="menu_hyperlink frame-menu_icon" href="{{item.url}}">     
                    <span class="menu_icon frame-menu_icon">
                        {{item.icon_url|safe}}
                    </span>
                    <span class="menu_title">{{item.title}}</span>
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>  

    <div style="position:absolute;bottom:10px; left:6%;">
        <div class="menu_section">
            <ul style="margin-left:-18px;">
                {% for item in menus.bottom_menu %}
                <li title="">
                   <a href="{{item.url}}" target='_blank'>     
                            <span class="menu_title" style="color:#40C4E0;">{{item.title}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>         
    </div>

</aside>
{% endblock %}


{% block js %}
<script>
    $(document).ready(function(){
        // script to handle color of selected menu 
        $(".menu_hyperlink").each(function() {
            if($(this).attr('href') === window.location.pathname){
                $(this).addClass('menu_highlighted');            
                $(this).attr('id', 'selected_menu')
                $("#selected_menu span i:first-child").addClass("icon_highlighted")
                $(this).find('material-icons').addClass('icon_highlighted');
                $(this).first().first().addClass('menu_highlighted');
                if($(this).hasClass('submenu')){
                    var that = $(this).parent().parent().parent();
                    $(".group_menu").each(function() {
                        if($(this).parent().attr('id') == that.attr('id')){
                            $(this).addClass('menu_highlighted');
                            $(this).attr('id', 'selected_group'); 
                            $("#selected_group span i:first-child").addClass("icon_highlighted")
                        }
                    });
                }            
            }       
        });
    });
</script>

<script>
    $(document).ready(function(){
        // $("#selected_group").click();
       
        $(".submenu_trigger").on("click", function(){
            $(".condense-sidebar-submenu").hide();
            let button = $(this).get(0);
            let tooltip = $(this).find(".condense-sidebar-submenu").get(0);
            let popperInstance = Popper.createPopper(button, tooltip, {
                placement: 'right-start',
            });
            $(this).find(".condense-sidebar-submenu").show();
        });

        $("#page_content_inner").on("click", function(){
            $(".condense-sidebar-submenu").hide();
        });
    });
</script>
{% endblock %}
