{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="#" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Zelthy App" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link href="{% static 'app/css/main.d7a1b9b0.css' %}" rel="stylesheet" />
    <title>App Title</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="{% static 'app/js/main.8a52810d.js' %}"></script>
    <script src="{% static 'app/js/787.0783c283.chunk.js' %}"></script>
  </body>
</html>

