body, html{
	margin:0;
	font-size: 16px;
}

body{
    font-size:1.6rem;
    transition: background-color .5s;
    padding-top: 0 !important;
}

.sidebar-nav{
  position:fixed;
  height:100%;
  background-color:#E2D6AF;
  width:120px;
  margin-top:70px;
  padding-bottom: 7rem;
  left:0;
  z-index: 99;
}

.main-nav{
    height:70px;
}

.sidebar-nav.navbar-expand-lg .navbar-nav {
   flex-direction: column;
   justify-content:start;
   width:100%;
}

.sidebar-nav .container-nav{
  flex-flow: column;
  padding:0;
}

.sidebar-nav .nav-item a.nav-link{
  position: relative;
  height:7.5vh;
  padding:.2rem .5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size:11px;
  font-weight:bold;
  flex-flow:column;
}

.sidebar-nav .nav-item a.nav-link:hover{
  background-color:#D5CAA4;
}

.sidebar-nav .nav-link-img{
    margin-bottom:7px;
}

.sidebar-nav.navbar-expand-lg .navbar-collapse{
    width:100%;
}

.main-nav.navbar-expand-lg .navbar-collapse{
    justify-content: right;
}

.navbar-light .navbar-brand{
  margin:auto;
  display:block;
  width:40px;
}

.user-logo{
    width:30px;
}

.sidebar-nav .dropend .dropdown-toggle::after{
    position:absolute;
    bottom:0;
    right:0;
    transform: rotate(45deg);
}

.sidebar-nav .dropdown-menu{
    background-color:#E2D6AF;
    box-shadow: 1px 1px 10px #c9c9c9;
}

.sidebar-nav  .dropdown-menu .dropdown-item:hover{
    background-color:#D5CAA4;
}

.sidebar-nav  .dropdown-menu .dropdown-item.active{
    position:relative
}

.sidebar-nav  .dropdown-menu .dropdown-item.active:before{
    content:"";
    display:block;
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color:#000;
    position: absolute;
    left: 4px;
    top: 13px;
}

#mySidenav .dropdown-menu .dropdown-item.active, 
#mySidenav .dropdown-menu .dropdown-item:active,
.sidebar-nav .dropdown-menu .dropdown-item.active, 
.sidebar-nav .dropdown-menu .dropdown-item:active{
    background-color:#E2D6AF;
    color: #212529;
}

.sidebar-nav .dropdown-menu .dropdown-item.active:hover, 
.sidebar-nav .dropdown-menu .dropdown-item:active:hover{
    background-color:#D5CAA4;
}

.dropdown-item:focus, 
.dropdown-item:hover {
    color: #1e2125;
    background-color: #e9ecef;
}

.main-nav.bg-light{
    background-color:transparent;
    border-bottom:1px solid #eee;
}

.main-block{
    padding-left:140px;
    padding-right:20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E2D6AF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


#mySidenav .dropdown-menu{
    display:block;
    background-color: rgb(226, 214, 175);
    box-shadow: rgb(201 201 201) 1px 1px 10px;
}

.closebtn{
    font-size: 30px;
}

.navbar-icon-mobile{
    display:none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media(max-width: 767px){

    .sidebar-nav{
        display:none;
    }

    .main-block{
        padding-left:0;
    }
}

@media(max-height: 800px){
    .sidebar-nav .nav-item a.nav-link{
        height:auto;
        padding:20px 5px;
    }

    .sidebar-nav{
        height:auto;
        position: absolute;
    }  
}

@media(max-width: 1439px){
    .main-nav .container-fluid{
        flex-flow:row;
    }

    .navbar-light .navbar-brand{
        margin:auto;
        margin-top: 0;
    }

    .main-nav.navbar-expand-lg .navbar-collapse{
        justify-content: end;
        text-align: right;
    }

    .main-nav .navbar-nav .dropdown-menu{
        position: absolute;
        right: 30px;
        top: 30px;
    }
}

@media(max-width: 1300px){

    .main-block{
        width:calc(100%);        
        overflow:scroll;
    }
}

@media(max-width: 767px){

    .navbar-icon-mobile{
        display:block;
    }

    .nav-link-img{
        margin-right:5px;
    }

    .navbar-nav{   
        flex-flow: row;
        justify-content: end;
        align-items: center;
        gap: 5px;
    }

    #mySidenav .navbar-nav{
        flex-flow:column;
        align-items: start;
    }

    #mySidenav .navbar-nav .nav-link{
        font-size:12px;
    }
}



/* responsive */
@media(min-width: 1440px){
	.container{
		max-width: 1420px;
	}
	html,body{
		font-size: 16px;
	}
}

@media(max-width: 1439px){
	html,body{
		font-size: 15px;
	}
}

a,
a:hover {
  color: #000;
}

p{
    color:#000;
}

ul, ol{
	list-style: none;
	padding:0;
	margin:0;
}
input:focus, button:focus, textarea:focus,select:focus{
	outline: 0;
	box-shadow: none;
}
a,a:hover,a:focus{
	text-decoration: none;
}
img{
	max-width: 100%;
}

#navbarSupportedContent {
    align-items: start;
}