{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <!-- ... your content ... -->
    <bootstrap-frame>
        {% block page_content %}
        

        {% endblock %}

        {% block js %}

        {% endblock %}

    </bootstrap-frame>


    <script src="{% static 'js/frame/frame_component.js' %}" ></script>
        <script>
            const frameElement = document.querySelector('bootstrap-frame');
            frameElement.config = JSON.stringify({
                headerColor: '#ff0000',
                sidebarColor: '#00ff00'
            });
    </script>

</body>
</html>