version: '3.9'

services:
  postgres:
    image: postgres
    env_file:
      - .env.loadtest
    ports:
      - "5432:5432"

  server:
    build:
      context: .
    env_file:
      - .env.loadtest
    depends_on:
      - postgres
    ports:
      - "8000:8000"
  
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    privileged: true
    devices:
      - "/dev/kmsg"