name: Push build to Main

on:
  push:
    branches:
      - final_test_fe_build
    paths:
      - "frontend/**"

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.WORKFLOW_API_TOKEN }}

      - name: Remove old build files
        run: |
          find backend/src/zango/assets/app_panel/js -name "build.*.min.js" -type f -delete
          find backend/src/zango/assets/app_panel/js -name "build.*.min.js.LICENSE.txt" -type f -delete

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install dependencies
        run: |
          cd frontend
          yarn install

      - name: Building app
        run: |
          cd frontend
          CI=false yarn build

      - name: Remove old build files
        run: |
          find backend/src/zango/assets/app_panel/js -name "build.*.min.js.LICENSE.txt" -type f -delete

      - name: Setup Git for commit
        run: |
          git config user.name "github-actions"
          git config user.email ${{ secrets.USER_EMAIL }}

      - name: Commit and push build
        run: |
          git add backend/src/zango/assets/app_panel/js
          git commit -m "Deploy frontend build"
          git push origin final_test_fe_build

      - name: Notify on z-deployment_notifs slack channel
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.Z_DEPOY_NOTIFS_SLACK_WEBHOOK_URL }}
          SLACK_TITLE: New push of frontend build in ${{ github.event.repository.name }}
          SLACK_CHANNEL: "z-deployment-notifs"
